.button{
    text-align:center;
    background-color:transparent;
    color:#9ba3a5;
    min-height:70px;
    min-width:70px;
    width:5vw;
    height:5vw;
    border-radius:1vw;
    align-self:center;
    font-size:3em;
    border-style:none;
    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */

}
.active, .button:hover{
    color:#84e8b0;
}
