.menuButtonHolder{
    position: absolute;
    z-index: 5;

    bottom:15px;
    right:30px;

    display:flex;
    justify-content: center;
    color:#9ba3a5;
    background-color:#1E2C34;

    border-radius: 60px;

    padding-bottom: 5px;

    height:50px;
    width:100px;
    min-height: 100px;

    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}


/* https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .App{
        background-color:black;
    }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    .App{
        background-color:green;
    }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    .App{
        background-color:blue;
    }
} */


/* Normal to me */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    .App{
        background-color:pink;
    }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
    .App{
        background-color:orange;
    }
} */
