.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  background-color:transparent;
  color: #9ba3a5;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  padding-left: 5vw;
}

.accordion:hover{
  color:#84e8b0;
}

.hidePanel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.showPanel {
  padding: 0 18px;
  display: block;
  overflow: hidden;
}
/* #84e8b0 */
