.selectedSubjectsHolder{
    display: flex;
    flex-direction: column;
    margin-left:10px;
    width:35%;
    background-color:#0a161b;
    overflow:scroll;
    height:70vh;
    min-height: 700px;
}
.selectedSubjectsHolder::-webkit-scrollbar {
  display: none;
}
