.selectedSubjectsHolder{
    display: flex;
    flex-direction: column;
    margin-left:1vw;
    height:100%;
    width:28vw;
    overflow:scroll;
    background-color:#0a161b;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.selectedSubjectsHolder::-webkit-scrollbar {
  display: none;
}
