.flashcardHolder{
    position: absolute;
    z-index: 0;

    width:90%;

    height:70%;
    min-height: 550px;
    max-width: 1100px;

    color:#9ba3a5;
    background-color: #0a161b;

    display:flex;
    flex-direction: column;
    justify-content:center;

    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.backgroundMessage{
    position: absolute;
    z-index: 0;

    font-size: 40px;

    display: flex;
    align-self: center;

    margin-top: -5vh;
    margin-bottom: auto;
    text-align: center;

    opacity: .3;
}

.controls{
    display: flex;
    align-self: center;
    margin: 10px;
    justify-content: space-around;
    width: 300px;
}

@media only screen and (max-width: 768px) {
    .flashcardHolder{
        min-height: 88vh;
    }
}
