.AppLandscape {
    display:flex;
    justify-content: center;
    /* height: 80vh; */
    margin-top: 3.5vh;
    background-color: darkGrey;
}

.AppPortrait {
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* height: 80vh; */
    background-color: darkGrey;
}
