.buttonMobileLandscape{
    color: black;
    background-color: transparent;
    border-style: none;
    width: 10vw;
    height: 10vw;
    align-self: center;
    border-radius: 10px;
    font-size: 5vw;

}

.buttonMobilePortrait{
    color: black;
    background-color: transparent;
    border-style: none;
    width: 10vh;
    height: 10vh;
    align-self: center;
    border-radius: 10px;
    font-size: 10vw;

}

.button{
    text-align:center;
    background-color:transparent;
    color:#9ba3a5;
    min-height:70px;
    min-width:70px;
    width:5vw;
    height:5vw;
    border-radius:1vw;
    align-self:center;
    font-size:3em;
    border-style:none

}

.button:hover, .buttonDesktopPortrait:hover, .buttonDesktopLandscape:hover, .buttonMobileLandscape:hover, .buttonMobilePortrait:hover{
    /* color: #1baf9d; */
    /* color: #FF8F0D; */
    /* color: #303F9F; */
    color:#e07322;


}
