.button{
    text-align:center;
    background-color:transparent;
    color:#9ba3a5;
    min-height:70px;
    min-width:70px;
    width:5vw;
    height:5vw;
    border-radius:1vw;
    align-self:center;
    font-size:3em;
    border-style:none;
    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */

}


.menuButton{
    position: absolute;

    z-index: 4;
    bottom: 5vh;
    right: 8vw;

    height:80px;
    width:80px;
    font-size:50px;

    -webkit-text-size-adjust: 110%;

    border-style: solid;
    border-width: thin;
    border-radius:1vw;
    border-color:#9ba3a5;

    color:#9ba3a5;
    background-color:#1E2C34;

    display: flex;
    flex-direction: column;
    /* padding-bottom: 15px; */
    /* justify-content: center; */
    align-self:center;
    align-items: center;
    text-align:center;

    /* text-align: justify; */

    /* font-size: 20px; */

    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.active, .button:hover, .menuButton:hover{
    color:#84e8b0;
}

@media only screen and (max-width: 768px) {
    .menuButton{
        /* height:80px;
        width:70px; */
        bottom: 8vh;
        right: 8vw;
        background-color:#17223B;
        /* background-color:red; */

    }
}

@media only screen and (max-width: 600px) {
    .menuButton{
        bottom: 1vh;
        right: 1vw;
        /* background-color:#17223B; */
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait)  {
    .menuButton{
        bottom: 7.5vh;
        right: 6.5vw;
        /* background-color:#17223B; */
    }
}

@supports (-webkit-touch-callout: none) and (max-width: 768px)  {
    .menuButton{
        height:80px;
        width:1vw;
        background-color:red;

    }

  /* CSS specific to iOS devices */

}
