.buttonGroupingPortrait{
    display:flex;
    justify-content: center;
    height:12vh;
    /* min-height: 10vh; */
    background-color: grey;
    border-radius: 30px;
    margin-top: 1vh;
    margin-bottom:1vh;
    margin-left: 1vw;
    margin-right:1vw;
    border-style: solid;
    border-color: black;
    border-width: medium;
}
.buttonGroupingLandscape{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:20vw;
    height:90vh;
    max-width: 200px;
    background-color: grey;
    border-radius: 30px;
    margin-left: 1vw;
    margin-right:1vw;
    border-style: solid;
    border-color: black;
    border-width: medium;
}

.buttonGroupingTwoOrLess{
    display:flex;
    background-color:#101d25;
    min-height:110px;
    max-height:150px;
    height:30vh;
    width:90%;
    margin-top:2vh;
    margin-bottom:2vh;
    align-self:center;
    justify-content:space-around;
    border-style:solid;
    border-color:#9ba3a5;
    border-radius:30px;
    border-width:thin
}

.buttonGroupingThreeOrMore {
    display:flex;
    background-color:#101d25;
    min-height:140px;
    max-height:300px;
    height:60vh;
    width:90%;
    margin-top:2vh;
    margin-bottom:3vh;
    padding-bottom: 1vh;
    padding-top: 1vh;

    /* margin-bottom:20%; */
    /* margin-bottom:10vh; */

    align-self:center;
    justify-content:space-around;
    border-style:solid;
    border-color:#9ba3a5;
    border-radius:30px;
    border-width:thin;
    flex-wrap: wrap;
}
