
/* DESKTOP */
/* .desktopPortait{}
.desktopLandscape{} */

/* MOBILE */
/* .mobilePortait{}
.mobileLandscape{} */

.flashcardPortrait{
    margin:1vw;
    width:97vw;
    height:60vh;
    margin-bottom:1vh;
    overflow:scroll;
    border-style:dashed;
    overflow:scroll;
    text-align: center;
}

.flashcardLandscape{
    margin:1vw;
    width:100%;
    height:60vh;
    overflow:scroll;
    border-style:dashed;
    overflow:scroll;
    text-align: center;
    max-width:1000px;
}
