.menuButtonHolder{
    position: absolute;
    z-index: 5;

    bottom:15px;
    right:30px;

    display:flex;
    justify-content: center;
    color:#9ba3a5;
    background-color:#1E2C34;

    border-radius: 60px;

    padding-bottom: 5px;

    height:50px;
    width:100px;
    min-height: 100px;
}
