.accordionActive, .accordionInactive {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  background-color:transparent;
  color: #84e8b0;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  padding-left: 5vw;
  
  /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome, Edge, Opera and Firefox */
}


.hidePanel, .showPanel  {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color: #9ba3a5;
}

.showPanel {
  display: block;
  color: #84e8b0;
}

.accordionInactive {
  color: #9ba3a5;
}

.accordionInactive:hover, .showPanel{
  color:#84e8b0;
}
