.controls{
    position: absolute;

    z-index: 4;
    bottom: 5vh;
    right: 10px;

    float:right;
    display: flex;
    justify-content: space-around;
    width:60vw;
    min-width: 400px;
    max-width: 600px;

    transition: 0.4s;



    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}
/* // style={{position:'absolute',float:'right',bottom:'5vh',right:'5vw',display:'flex',justifyContent:'flex-end',alignSelf:'flex-end',width:'40vw',maxWidth:'350px', minWidth:'350px',zIndex:'4'}} */

@media only screen and (max-width: 768px) {
    .controls{
        bottom: 8vh;
        right: 10px;
        /* background-color:#17223B; */
        /* background-color:red; */

    }
}

@media only screen and (max-width: 600px) {
    .controls{
        bottom: 1vh;
        right: 1vw;
        /* background-color:#17223B; */
        /* opacity: 1; */
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape)  {
    .controls{
        bottom: 1vh;
        right: 1vw;
        /* border-color:#0a161b;
        border-width: medium; */
        /* border-style: none; */
        /* opacity: 1; */
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait)  {
    .controls{
        bottom: 7.5vh;
        right: 6.5vw;
        /* background-color:#17223B; */
    }
}

/* the width and font-size of the menu button are changing on iOS devices.
attempting to fix it but having issues changing the width relative to the
font-size. the width of the button seems to be dependent on the font-size so
I'm compromising by downsizing the font-size so the button isn't too large. */
@supports (-webkit-touch-callout: none) and (max-width: 768px)  {
    .controls{
        /* height:80px;
        width:1vw; */
        /* background-color:red; */

        -webkit-text-size-adjust: 70%;

        padding-top: 8.5px;
        height:70px;
        /* width:70px; */

    }

  /* CSS specific to iOS devices */

}
