.selectedSubjectsHolder{
    display: flex;
    flex-direction: column;
    width:35%;
    background-color:#0a161b;
    overflow:scroll;
    height:70vh;
    min-height: 700px;
    min-width: 150px;
    padding-right: 3vw;
}
.selectedSubjectsHolder::-webkit-scrollbar {
  display: none;
}
