.selectedSubjectsHolder{
    display: flex;
    flex-direction: column;
    width:35%;
    background-color:#0a161b;
    height:88vh;
    min-height: 700px;
    min-width: 150px;
    padding-right: 3vw;
    overflow:scroll;
    
}
/* .selectedSubjectsHolder::-webkit-scrollbar {
  display: none;
} */
