.tabHolder{
    background-color:#0a161b;
    flex-direction:column;
    width:54vw;
    height:70vh;
    min-height: 700px;
    min-width: 300px;
    overflow:scroll;
}

/* mobile portrait */
@media only screen and (max-width: 768px) and (orientation: portrait)  {
    .tabHolder{
        min-width: 100vw;
        min-height: 88vh;
    }
}

/* mobile landscape */
@media only screen and (max-width: 768px) and (orientation: landscape)  {
    .tabHolder{
        min-width: 100vw;
        min-height: 88vh;
    }
}
